<div style="position: fixed; bottom: 0; margin-left: 20rem;background-color: white;height: 20 0px;width:80rem;border: 2px solid #e6e6e6;">
<div style="border-bottom: 2px solid #e6e6e6; height:4.5rem;">
  <div style="padding:8px;float:left;"><h4>What Next</h4></div>
  <div style="padding:8px;float:right;user-select: none;-webkit-user-select: none;">
    <h4><a style="cursor: pointer;" id="slickPrev"><</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a style="cursor: pointer;" id="slickNext">></a></h4>
  </div>
</div>

  <div id="articleslider" class="articleslider" style="top:2rem;">
    <div ng-repeat="w in whatnext">
      <p><img ng-src="{{w.hero_image_url}}" alt="hero thumbnail" height="60px;" width="100px;"></p>
      <p><a href="#/article/{{w.id}}" style="color:dodgerblue;font-size: 4px;"><b>{{(w.title).substring(0,20)}}...</b></a></p>
    </div>
  </div>


</div>